.btn-login, .btn-alert{
    background-color:rgb(1,1,63);
    color:white;
    font-family: "Google Sans";
    font-size:20px;
    font-weight: bolder;
    padding:10px;
    border:3px solid rgb(255, 255, 255);
    border-radius:8px;
    transition: background-color 0.4s;
}

.btn-login:hover, .btn-alert:hover{
    cursor: pointer;
    opacity:0.85;
    background-color:blue;
}

.btn-alert:hover{
    background-color: red;
}