.input-login{
    background-color:rgb(1,1,63);
    color:white;
    font-family: "Google Sans";
    font-size:20px;
    font-weight: bolder;
    padding:10px;
    border:3px solid rgb(1,1,63);
    border-radius:8px;
    transition: border-color 0.85s, background-color 0.85s;
    padding-right: 50px;
}

.input-login::placeholder{
    color:rgba(255, 255, 255, 0.823);
}

.input-login:focus{
    outline:none;
    border-color: white;
}