.div-login{
    margin-top:20vh;
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    row-gap:15px;
    width:420px;
}

.div-login-txt1{
    font-size: 50px;
    width: fit-content;
    overflow: hidden;
    white-space: nowrap;
    padding:0;
    border:none;
    animation: type 7s steps(22) infinite,
    blink .8s infinite;
}

.div-login-txt2{
    font-size: 18px;
}

.div-login-txt2:hover{
    color:cyan;
    cursor: pointer;
}

@keyframes type{
    from{
        width: 0;
    }

    to{
        width: 22ch;
    }
}

@keyframes blink
{
    50%{
        border-color: transparent;
    }
}


