.div-register{
    margin-top: 20vh;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    row-gap: 15px;
}

.div-register-txt1{
    font-size: 45px;
}