.div-grades-container, .div-grades-box{
    display:flex;
    flex-direction: column;
    row-gap: 8px;
    padding:5px;
}

.div-grades-container{
    align-items: center;
}

.div-grades-box{
    border: 2px solid white;
    width: 40lh;
    padding:12px;
    border-radius:20px;
}

.div-grades-sem-sgp{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.div-grades-sem-sgp{
    font-size: xx-large;
}

.div-grades-sgp{
    padding:10px;
}



