.div-toast{
    display:flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
    padding:15px;
    background-color: white;
    width: fit-content;
    border-radius:8px;
    position:fixed;
    bottom:-200px;
    left:50%;
    transform: translateX(-50%);
    transition: bottom 0.8s;
}

.div-toast-show{
    bottom: 15%;
}
.img-toast{
    width:20px;
}

.div-toast-txt{
    font-size: 18px;
    color:black;
}
