.div-attendance-dates{
    padding-top:12px;
    display:flex;
    justify-content: center;
    align-items: center;
    column-gap:3px;
}

.btn-attendance-day{
    background-color: transparent;
    width:80px;
    height:80px;
    border: 2px solid white;
    color:rgb(14, 255, 247);
    font-family: 'Google Sans';
    font-weight: 600;
    font-size: larger;
    transition: background-color 0.18s;
}

.btn-attendance-day:hover{
    cursor: pointer;
    background-color:rgb(87, 0, 82);
}

.btn-attendance-day:focus{
    cursor: pointer;
    background-color:rgb(0, 79, 158);
}
