.div-header{
    border-width: 2px;
    border-color: white;
    border-style:solid;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:3px;
}

.img-header-logo{
    width:180px;
}

.div-header-slogan{
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    column-gap: 8px;
}

.dot{
    position: absolute;
    top:-10%;
}