.div-password{
   position: relative;
   display: inline-block;
}

.btn-password-toggle{
    background-color: transparent;
    border:none;
    position:absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.btn-password-toggle:hover{
    cursor: pointer;
}

.img-btn-password-toggle{
    width:30px;
}