.div-addcourse{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    justify-content: center;
    transition: opacity 0.4s;
    font-size: 30px;
    align-items: center;
}

.div-btn-addcourse{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
}

.div-btn-addcourse-count{
    font-size: 22px;
}