.div-course-box{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    position:fixed;
    top:50%;
    left:50%;
    transform: translate3d(-50%,-50%,0);
    /* transform: translateY(-50%); */
    border: 5px solid whitesmoke;
    border-radius: 18px;
    padding:30px;
    background-color: #12193A;
}

.div-course-attributes, .div-course-buttons{
    display:flex;
    column-gap: 8px;
}