.div-course-box{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    position:absolute;
    top:-50px;
    left:50%;
    transform: translate3d(-50%,0%,0);
    /* transform: translateY(-50%); */
    border: 5px solid whitesmoke;
    border-radius: 18px;
    padding:30px;
    background-color: #12193A;
    z-index: 100;
}

.div-course-attributes, .div-course-buttons{
    display:flex;
    column-gap: 8px;
}

.div-course-attributes-input{
    position: relative;
}

.div-course-attributes-tooltip{
    position: absolute;
    top:50%;
    left:50%;
}

.div-type-date-plchdr{
    margin-top: 3px;
    text-align: center;
}