.div-entry-card{
    display:flex;
    flex-direction: column;
    row-gap:20px;
    padding:15px;
    border: 3px solid white;
    border-radius: 8px;
    justify-content: space-between;
    background-color: rgb(0, 38, 64);
    color:rgb(255, 255, 255);
    font-size:20px;
    align-items: center;
    width:7lh;
}

.btn-entry-card{
    background-color: transparent;
    border:none;
}

.btn-entry-card:hover{
    cursor: pointer;
}

.div-entry-card-content{
    display:flex;
    flex-direction: column;
    row-gap:3px;
    justify-content: center;
    align-items: center;
}

.div-entry-card-content-description{
    font-size: 18px;
    color: gray;
}

.div-entry-card-content{
    flex:1;
    min-width: 0;
    overflow-wrap: break-word;
    text-align: center;
}

