.div-exam-section{width:100%;display:flex;flex-direction:column;align-items:center;row-gap:8px}
.div-exam-section-header{font-size:25px;font-weight:700;text-align:center;margin-bottom:8px;color:#fff}
.div-exam-section-body{display:flex;justify-content:center;margin-bottom:5px;position:relative}
.div-exam-section > .div-course-list{margin-top:4px}
