.div-sat-header{font-size:25px;font-weight:700;text-align:center;margin-bottom:14px;color:#fff}
.div-sat-body-container{display:flex;column-gap:10px;width:100%;max-width:680px;flex-wrap:wrap;row-gap:10px;justify-content:center}
